<p>About: <vc:about email="foo@bar.com" phone-number="555-123-4567" cat="meow" pranav="hey"></vc:about></p>
<p>DanRoth: <vc:dan-roth color="blue" water="false"></vc:dan-roth></p>
<p>DanRoth, Self Closing: <vc:dan-roth color="blue" water="false"/></p>