<environment></environment>
<p>About: <vc:about email="eilon@bar.com" phone-number="555-123-4567" cat="meow" pranav="hey"></vc:about></p>
<p>DanRoth: <vc:dan-roth jacket-color="yellow"></vc:dan-roth></p>